[Unit]
Description=Mount unit for SeniorOS persistence

[Mount]
What=/dev/disk/by-label/senioros-persist
Where=/persistence
Type=ext4
Options=nofail,rw

[Install]
WantedBy=multi-user.target
