[Unit]
Description=Chmod persistence folder
After=persistence.mount
Requires=persistence.mount

[Service]
Type=oneshot
ExecStart=/bin/bash -c "chmod 777 /persistence"
