# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

venv/
.venv/

.vscode/

# Build results of the setuptools for SOS configuration package
/sconf/src/configuration/build/
/sconf/src/configuration/configuration.egg-info/
/sconf/src/configuration/configuration_sos.egg-info/


*.pyc

# Packages
dist/*
dist/
# Unit test / coverage reports
.coverage
.pytest_cache

.DS_Store
.python-version
.vscode/*

/docs/site/*
.mypy_cache

.venv
poetry.toml
.idea/
.idea/*
